<section data-ng-controller="PortatilesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Portatiles</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="portatile in portatiles" data-ng-href="#!/portatiles/{{portatile._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="portatile.created | date:'medium'"></span>
				by
				<span data-ng-bind="portatile.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="portatile.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!portatiles.$resolved || portatiles.length">
    	No Portatiles yet, why don't you <a href="/#!/portatiles/create">create one</a>?
    </div>
</section>