<section data-ng-controller="ProductosController" data-ng-init="find()">
    <div class="page-header">
        <h1>Productos</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="producto in productos" data-ng-href="#!/productos/{{producto._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="producto.created | date:'medium'"></span>
				by
				<span data-ng-bind="producto.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="producto.marca"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="producto.modelo"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="producto.categoria.nombre"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="producto.precio"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="producto.proveedor.nombre"></h4>          
            <h4 class="list-group-item-heading" data-ng-bind="producto.url_img"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="producto.descripcion"></h4>
        </a>
    </div>





    <div class="alert alert-warning text-center" data-ng-hide="!productos.$resolved || productos.length">
    	No Productos yet, why don't you <a href="/#!/productos/create">create one</a>?
    </div>
</section>